<div class="columns">
    <div class="column is-2">
        <app-side-bar />
    </div>
    <div class="column">
        <p *ngIf="!isUpdatingList" class="title has-text-centered" [ngStyle]="{ 'background-color': list?.color }">{{
            list?.title }}</p>
        <p *ngIf="!isUpdatingList" class="subtitle has-text-centered"> {{ list?.description }}</p>
        <p *ngIf="!isUpdatingList" class="has-text-centered">
            <button class="button is-danger" (click)="deleteList()">Delete</button>
            <button class="button is-info" (click)="isUpdatingList = true">Update</button>
        </p>
        <p class="has-text-centered" *ngIf="!isUpdatingList">
            <button class="button is-success" (click)="toggleShowClosed()">Show closed</button>
        </p>

        <div class="columns is-centered" *ngIf="isUpdatingList">
            <form class="column is-6 mt-2" (ngSubmit)="updateList()">
                <div class="control">
                    <label class="title" for="title">Title</label>
                    <input type="text" name="title" class="input" [(ngModel)]="updateRequest.title">
                </div>
                <div class="control">
                    <label class="label" for="description">Description</label>
                    <textarea name="description" [(ngModel)]="updateRequest.description" class="textarea" cols="30"
                        rows="10"></textarea>
                </div>
                <div class="control">
                    <input type="color" name="color" [(ngModel)]="updateRequest.color" class="input">
                </div>
                <div class="control buttons">
                    <button class="button is-info" type="button" (click)="isUpdatingList = false">Cancel</button>
                    <button class="button is-success">Confirm</button>
                </div>
            </form>
        </div>
        <table class="mt-4 table" style="width: 100%;">
            <thead>
                <tr>
                    <th class="has-text-centered">Status</th>
                    <th class="has-text-centered" (click)="orderTasksByTitle()">
                        Title
                        <span class="icon" *ngIf="titleOrderBy == 2">
                            <fa-icon [icon]="faAngleUp"></fa-icon>
                        </span>
                        <span class="icon">
                            <fa-icon [icon]="faAngleDown" *ngIf="titleOrderBy == 1"></fa-icon>
                        </span>
                    </th>
                    <th class="has-text-centered">Creator</th>
                    <th>
                        Assignees
                    </th>
                    <th class="has-text-centered" (click)="orderTasksByCreationDate()">
                        Creation date
                        <span class="icon" *ngIf="creationDateOrderBy == 2">
                            <fa-icon [icon]="faAngleUp"></fa-icon>
                        </span>
                        <span class="icon">
                            <fa-icon [icon]="faAngleDown" *ngIf="creationDateOrderBy == 1"></fa-icon>
                        </span>
                    </th>
                    <th class="has-text-centered" (click)="orderTasksByDueDate()">
                        Due date
                        <span class="icon" *ngIf="dueDateOrderBy == 2">
                            <fa-icon [icon]="faAngleUp"></fa-icon>
                        </span>
                        <span class="icon">
                            <fa-icon [icon]="faAngleDown" *ngIf="dueDateOrderBy == 1"></fa-icon>
                        </span>
                    </th>
                    <th class="has-text-centered" (click)="orderTasksByPriority()">
                        Priority
                        <span class="icon" *ngIf="priorityOrderBy == 2">
                            <fa-icon [icon]="faAngleUp"></fa-icon>
                        </span>
                        <span class="icon">
                            <fa-icon [icon]="faAngleDown" *ngIf="priorityOrderBy == 1"></fa-icon>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr app-user-task-list-item *ngFor="let task of tasks" [task]="task" (deleteTask)="deleteTask($event)"
                    (updateRequested)="updateTask($event, task)" [statuses]="statusGroup.statuses ?? []" [spaceId]="list!.spaceId"></tr>
            </tbody>

        </table>
        <app-add-task-form [listId]="listId" [statusId]="defaultStatusId" [creatorId]="userId"
            (taskAdded)="loadTasks()" [spaceId]="list!.spaceId">

        </app-add-task-form>
    </div>
</div>