<div class="card dialog" *ngIf="!isUpdating">
    <header class="card-header">
        <div class="mt-2 ml-2">
            <div class="task-status-icon" [ngStyle]="{'background-color': task.status.color}"
                (click)="isUpdatingStatus = true">

            </div>
            <div class="status-select is-flex is-flex-direction-column box" *ngIf="isUpdatingStatus">
                <p class="has-text-centered">
                    <button class="delete is-large" (click)="isUpdatingStatus = false"></button>
                </p>
                <div *ngFor="let status of statuses" (click)="selectStatus(status.id)">
                    <div class="task-status-icon" [ngStyle]="{ 'background-color': status.color }"></div>
                    <p> {{ status.name }} <span *ngIf="status.id == task.status.id"
                            class="has-text-success">(Current)</span></p>
                </div>
            </div>
        </div>
        <div class="card-header-title">
            {{ task.title }}
            <div class="ml-2" style="position: relative;">
                <span class="icon" (click)="isUpdatingPriority = true">
                    <fa-icon [icon]="faFlag" [ngStyle]="{'color': priorityColor(task.priority)}" />
                </span>
                <div class="status-select is-flex is-flex-direction-column box" *ngIf="isUpdatingPriority">
                    <p class="has-text-centered">
                        <button class="delete is-large" (click)="isUpdatingPriority = false"></button>
                    </p>
                    <div (click)="confirmPriorityUpdate(priorityLevels.urgent)">
                        <span class="icon" (click)="isUpdatingPriority = true">
                            <fa-icon [icon]="faFlag" [ngStyle]="{'color': priorityColor(priorityLevels.urgent)}" />
                        </span>
                        <p>
                            Urgent
                        </p>
                    </div>
                    <div (click)="confirmPriorityUpdate(priorityLevels.high)">
                        <span class="icon" (click)="isUpdatingPriority = true">
                            <fa-icon [icon]="faFlag" [ngStyle]="{'color': priorityColor(priorityLevels.high)}" />
                        </span>
                        <p>
                            High
                        </p>
                    </div>
                    <div (click)="confirmPriorityUpdate(priorityLevels.medium)">
                        <span class="icon" (click)="isUpdatingPriority = true">
                            <fa-icon [icon]="faFlag" [ngStyle]="{'color': priorityColor(priorityLevels.medium)}" />
                        </span>
                        <p>
                            Medium
                        </p>
                    </div>
                    <div (click)="confirmPriorityUpdate(priorityLevels.low)">
                        <span class="icon" (click)="isUpdatingPriority = true">
                            <fa-icon [icon]="faFlag" [ngStyle]="{'color': priorityColor(priorityLevels.low)}" />
                        </span>
                        <p>
                            Low
                        </p>
                    </div>
                    <div>
                        <span class="icon" (click)="confirmPriorityUpdate(undefined)">
                            <fa-icon [icon]="faBan" [ngStyle]="{'color': priorityColor(undefined)}" />
                        </span>
                        <p>
                            Clear
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="button is-danger" (click)="onDeleteTask()">Delete</button>
            <button class="button is-info" (click)="isUpdating = true">Update</button>
            <button class="delete is-large" (click)="close.emit()"></button>
        </div>
    </header>
    <div class="card-content columns">
        <div class="column is-9">
            <div class="is-justify-content-space-between is-flex">
                <div class="subtitle">Created: {{ creationDate() | date: 'dd-MM-yyyy'}}</div>
                <div class="subtitle" *ngIf="task.dueTimestamp">Due date: {{ dueDate() | date: 'dd-MM-yyyy' }}</div>
            </div>
            <p>{{ task.description}}</p>
            <p class="subtitle">Attached files</p>
            <div>
                <div class="p-2" style="width: fit-content;" *ngFor="let file of task.attachments">
                    <a target="_blank"
                        [href]="'https://localhost:5001/api/task-file-attachment/file/' + file.id.toString()">{{
                        file.fileName }}</a>
                    <button class="delete" (click)="deleteAttachedFile(file.id)"></button>
                </div>
            </div>
            <div>
                <div class="file">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume" multiple (change)="attachFiles($event)">
                        <span class="file-cta">
                            <span class="file-label">
                                Attach files
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <p class="title is-5">Creator</p>
            <p class="subtitle">{{ task.creator.firstName }} {{ task.creator.firstName }}</p>
            <p class="subtitle">{{ task.creator.email }}</p>

            <p class="title is-5">
                Assigned users
                <button class="button" (click)="isManagingAssignedUsers = true">Manage</button>
            </p>
            <div class="is-flex" *ngFor="let user of task.assignedUsers">
                <app-user-profile [isRounded]="true" size="64x64" [id]="user.id" />
                <div>
                    <p class="subtitle">{{ user.email }}</p>
                    <p class="subtitle"> {{ user.firstName}} {{ user.lastName}}</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="card dialog" *ngIf="isUpdating">
    <div class="control">
        <label for="title" class="label">Title</label>
        <input type="text" [(ngModel)]="updateRequest.title" name="title" class="input">
    </div>
    <div class="control">
        <label for="description" class="label">Description</label>
        <textarea name="description" [(ngModel)]="updateRequest.description" class="textarea" cols="30"
            rows="10"></textarea>
    </div>
    <div class="control">
        <label for="dueTimestamp" class="label">Due date</label>
        <input type="date" class="input" (change)="changeDueDate($event)">
    </div>
    <div class="buttons">
        <button class="button is-info" (click)="updateTask()">Confirm</button>
        <button class="button is-warning" (click)="isUpdating = false">Cancel</button>
    </div>
</div>

<app-manage-task-assigned-users-dialog [taskId]="task.id" *ngIf="isManagingAssignedUsers"
    (close)="isManagingAssignedUsers = false" (userAdded)="assignedUserAdded($event)"
    (userDeleted)="assignedUserDeleted($event)" [spaceId]="spaceId" />