<div class="card dialog" *ngIf="!isUpdating">
    <header class="card-header">
        <div class="mt-2 ml-2">
            <div class="task-status-icon" [ngStyle]="{'background-color': task.status.color}" (click)="isUpdatingStatus = true">

            </div>
            <div class="status-select is-flex is-flex-direction-column box" *ngIf="isUpdatingStatus">
                <p class="has-text-centered">
                    <button class="delete is-large" (click)="isUpdatingStatus = false"></button>
                </p>
                <div *ngFor="let status of statuses" (click)="selectStatus(status.id)">
                    <div class="task-status-icon" [ngStyle]="{ 'background-color': status.color }"></div>
                    <p> {{ status.name }} <span *ngIf="status.id == task.status.id"
                            class="has-text-success">(Current)</span></p>
                </div>
            </div>
        </div>
        <p class="card-header-title">
            {{ task.title }}
        </p>
        <div class="buttons">
            <button class="button is-danger" (click)="onDeleteTask()">Delete</button>
            <button class="button is-info" (click)="isUpdating = true">Update</button>
            <button class="delete is-large" (click)="close.emit()"></button>
        </div>
    </header>
    <div class="card-content columns">
        <div class="column is-9">
            <div class="is-justify-content-space-between is-flex">
                <div class="subtitle">Created: {{ creationDate() | date: 'dd-MM-yyyy'}}</div>
                <div class="subtitle" *ngIf="task.dueTimestamp">Due date: {{ dueDate() | date: 'dd-MM-yyyy' }}</div>
            </div>
            <p>{{ task.description}}</p>
        </div>
        <div class="column is-3">
            <p class="title is-5">Creator</p>
            <p class="subtitle">{{ task.creator.firstName }} {{ task.creator.firstName }}</p>
            <p class="subtitle">{{ task.creator.email }}</p>
        </div>
    </div>
</div>

<div class="card dialog" *ngIf="isUpdating">
    <div class="control">
        <label for="title" class="label">Title</label>
        <input type="text" [(ngModel)]="updateRequest.title" name="title" class="input">
    </div>
    <div class="control">
        <label for="description" class="label">Description</label>
        <textarea name="description" [(ngModel)]="updateRequest.description" class="textarea" cols="30"
            rows="10"></textarea>
    </div>
    <div class="control">
        <label for="dueTimestamp" class="label">Due date</label>
        <input type="date" class="input" (change)="changeDueDate($event)">
    </div>
    <div class="buttons">
        <button class="button is-info" (click)="updateTask()">Confirm</button>
        <button class="button is-warning" (click)="isUpdating = false">Cancel</button>
    </div>
</div>