@import url('../node_modules/bulma/css/bulma.css');
@import url('../node_modules/bulmaswatch/darkly/bulmaswatch.min.css');
@import '~quill/dist/quill.snow.css';
@import url('https://github.com/patel146/QuillDarkMode/blob/master/src/quill.smoke.css');


.task-status-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
}

.status-select {
    position: absolute;
    top: 0;
    z-index: 1000;
}

* {
    user-select: none
}

.dialog {
    position: absolute;
    top: 30%;
    left: 50%;
    min-width: 60%;
    min-height: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}