<div class="columns">
    <div class="column is-2" style="position: relative;">
        <div class="task-status-icon" [ngStyle]="{'background-color': task.status.color }"
            (click)="toggleIsUpdatingStatus()">
        </div>
        <div class="status-select is-flex is-flex-direction-column box" *ngIf="isUpdatingStatus">
            <p class="has-text-centered">
                <button class="delete is-large" (click)="toggleIsUpdatingStatus()"></button>
            </p>
            <div *ngFor="let status of statuses" (click)="confirmStatusUpdate(status.id)">
                <div class="task-status-icon" [ngStyle]="{ 'background-color': status.color }"></div>
                <p> {{ status.name }} <span *ngIf="status.id == task.status.id"
                        class="has-text-success">(Current)</span></p>
            </div>
        </div>
    </div>
    <div class="column is-3">
        <p class="title has-text-centered" *ngIf="!isUpdatingTitle" (click)="isUpdatingTitle = true">
            {{ task.title }}
        </p>
        <div class="is-flex" *ngIf="isUpdatingTitle">
            <input type="text" name="title" [(ngModel)]="updatedTitle" class="input">
            <button class="delete is-large" (click)="isUpdatingTitle = false"></button>
            <button class="button is-info" (click)="confirmUpdateTitle()">Confirm</button>
        </div>
    </div>
    <div class="column">
        <p class="subtitle has-text-centered">{{ task.creator.firstName }} {{ task.creator.lastName }}</p>
    </div>
    <div class="column">
        <p class="subtitle has-text-centered"> {{ creationTimestamp() | date: 'dd-MM-yyyy'}} </p>
    </div>
    <div class="column">
        <p *ngIf="!isUpdatingDueTimestamp" class="subtitle has-text-centered" (click)="isUpdatingDueTimestamp = true">
            <span *ngIf="task.dueTimestamp">{{ dueTimestamp() | date: 'dd-MM-yyyy'}}</span>
            <span *ngIf="!task.dueTimestamp">Due date</span>
        </p>
        <div class="is-flex is-align-content-center" *ngIf="isUpdatingDueTimestamp">
            <input type="date" name="timestamp" (change)="changeDueDate($event)" class="input">
            <button class="delete is-large" (click)="isUpdatingDueTimestamp = false"></button>
            <button class="button is-info" (click)="confirmUpdateDueTimestamp()">Confirm</button>
        </div>
    </div>
    <div class="column is-1">
        <span class="icon" (click)="showDialog = true">
            <fa-icon [icon]="faEllipsis" style="color: #ad9999;"></fa-icon>
        </span>
        <span class="icon" (click)="deleteTask.emit()">
            <fa-icon [icon]="faTrash" style="color: #e20000;"></fa-icon>
        </span>
    </div>

    <app-task-dialog [id]="task.id" *ngIf="showDialog" (close)="showDialog = false"
        (deleteTask)="deleteTask.emit(task.id)" (taskUpdated)="updateTask($event)" (taskUpdated)="taskUpdated.emit($event)" [statuses]="statuses" />
</div>