<td style="position: relative;">
    <div class="task-status-icon" style="position: relative;" [ngStyle]="{'background-color': task.status.color }"
        (click)="toggleIsUpdatingStatus()">
    </div>
    <div class="status-select is-flex is-flex-direction-column box" *ngIf="isUpdatingStatus">
        <p class="has-text-centered">
            <button class="delete is-large" (click)="toggleIsUpdatingStatus()"></button>
        </p>
        <div *ngFor="let status of statuses" (click)="confirmStatusUpdate(status.id)">
            <div class="task-status-icon" [ngStyle]="{ 'background-color': status.color }"></div>
            <p> {{ status.name }} <span *ngIf="status.id == task.status.id" class="has-text-success">(Current)</span>
            </p>
        </div>
    </div>
</td>

<td>
    <p class="has-text-centered" *ngIf="!isUpdatingTitle">
        <span (click)="showDialog = true">
            {{ task.title }}
        </span>
        <span class="icon is-5" (click)="isUpdatingTitle = true">
            <fa-icon [icon]="faPencil"></fa-icon>
        </span>
    </p>
    <div class="is-flex" *ngIf="isUpdatingTitle">
        <input type="text" name="title" [(ngModel)]="updateRequest.title" class="input">
        <button class="delete is-large" (click)="isUpdatingTitle = false"></button>
        <button class="button is-info" (click)="confirmUpdateTitle()">Confirm</button>
    </div>
</td>
<td class="is-flex is-vcentered is-justify-content-center">
    <app-user-profile [isRounded]="true" [id]="task.creator.id" size="32x32" />
    <p class="has-text-centered ml-1">
        {{ task.creator.firstName }} {{ task.creator.lastName }}
    </p>
</td>
<td>
    <div class="has-background-grey-darker is-flex" (click)="isManagingAssignedUsers = true"
        *ngIf="task.assignedUsers.length > 0">
        <div *ngFor="let user of task.assignedUsers">
            <app-user-profile [id]="user.id" [isRounded]="true" size="32x32"></app-user-profile>
        </div>
    </div>
    <button class="button" (click)="isManagingAssignedUsers = true" *ngIf="task.assignedUsers.length == 0">Manage
        Assignees</button>
</td>
<td>
    <p class="has-text-centered"> {{ creationTimestamp() | date: 'dd-MM-yyyy'}} </p>
</td>
<td>
    <p *ngIf="!isUpdatingDueTimestamp" class="has-text-centered" (click)="isUpdatingDueTimestamp = true">
        <span *ngIf="task.dueTimestamp">{{ dueTimestamp() | date: 'dd-MM-yyyy'}}</span>
        <span *ngIf="!task.dueTimestamp">Due date</span>
    </p>
    <div class="is-flex is-align-content-center" *ngIf="isUpdatingDueTimestamp">
        <input type="date" name="timestamp" (change)="changeDueDate($event)" class="input">
        <button class="delete is-large" (click)="isUpdatingDueTimestamp = false"></button>
        <button class="button is-info" (click)="confirmUpdateDueTimestamp()">Confirm</button>
    </div>
</td>
<td class="has-text-centered" style="position: relative;">
    <span class="icon" (click)="isUpdatingPriority = true">
        <fa-icon [icon]="faFlag" [ngStyle]="{'color': priorityColor(task.priority)}" />
    </span>
    <div class="status-select is-flex is-flex-direction-column box" *ngIf="isUpdatingPriority">
        <p class="has-text-centered">
            <button class="delete is-large" (click)="isUpdatingPriority = false"></button>
        </p>
        <div (click)="confirmPriorityUpdate(priorityLevels.urgent)">
            <span class="icon" (click)="isUpdatingPriority = true">
                <fa-icon [icon]="faFlag" [ngStyle]="{'color': priorityColor(priorityLevels.urgent)}" />
            </span>
            <p>
                Urgent
            </p>
        </div>
        <div (click)="confirmPriorityUpdate(priorityLevels.high)">
            <span class="icon" (click)="isUpdatingPriority = true">
                <fa-icon [icon]="faFlag" [ngStyle]="{'color': priorityColor(priorityLevels.high)}" />
            </span>
            <p>
                High
            </p>
        </div>
        <div (click)="confirmPriorityUpdate(priorityLevels.medium)">
            <span class="icon" (click)="isUpdatingPriority = true">
                <fa-icon [icon]="faFlag" [ngStyle]="{'color': priorityColor(priorityLevels.medium)}" />
            </span>
            <p>
                Medium
            </p>
        </div>
        <div (click)="confirmPriorityUpdate(priorityLevels.low)">
            <span class="icon" (click)="isUpdatingPriority = true">
                <fa-icon [icon]="faFlag" [ngStyle]="{'color': priorityColor(priorityLevels.low)}" />
            </span>
            <p>
                Low
            </p>
        </div>
        <div>
            <span class="icon" (click)="confirmPriorityUpdate(undefined)">
                <fa-icon [icon]="faBan" [ngStyle]="{'color': priorityColor(undefined)}" />
            </span>
            <p>
                Clear
            </p>
        </div>
    </div>
</td>
<td>
    <span class="icon" (click)="showDialog = true">
        <fa-icon [icon]="faEllipsis" style="color: #ad9999;"></fa-icon>
    </span>
    <span class="icon" (click)="deleteTask.emit()">
        <fa-icon [icon]="faTrash" style="color: #e20000;"></fa-icon>
    </span>
</td>

<app-task-dialog [id]="task.id" *ngIf="showDialog" (close)="showDialog = false" (deleteTask)="deleteTask.emit(task.id)"
    (taskUpdated)="updateTask($event)" [statuses]="statuses" [spaceId]="spaceId" />

<app-manage-task-assigned-users-dialog [taskId]="task.id" *ngIf="isManagingAssignedUsers"
    (close)="isManagingAssignedUsers = false" (userAdded)="assignedUserAdded($event)"
    (userDeleted)="assignedUserDeleted($event)" [spaceId]="spaceId"/>