<div class="columns">
    <div class="column is-2">
        <app-side-bar />
    </div>
    <div class="column">
        <p class="title has-text-centered">{{ userData.firstName }} {{ userData.firstName }}</p>
        <p class="title has-text-centered">Tasks</p>
        <div>
            <app-user-task-list-item *ngFor="let task of tasks" [task]="task" (deleteTask)="deleteTask(task.id)"
                (updateDueTimestamp)="updateTaskDueTimestamp(task.id, $event)"
                (updateTitle)="updateTaskTitle(task.id, $event)" />
        </div>
        <app-add-task-form [creatorId]="userData.id" (taskAdded)="loadTasks()">

        </app-add-task-form>
    </div>
</div>