<div class="columns">
    <div class="column is-2">
        <app-side-bar></app-side-bar>
    </div>
    <div class="column is-10">
        <div class="columns is-centered mt-4">
            <div class="column is-7">
                <p *ngIf="!isUpdatingSpace" class="title has-text-centered">
                    {{ space.title }}
                </p>
                <div class="buttons has-text-centered" *ngIf="!isUpdatingSpace">
                    <button class="button is-info" (click)="isUpdatingSpace = true">Update title</button>
                    <button class="button is-danger" (click)="deleteSpace()">Delete</button>
                </div>
                <form *ngIf="isUpdatingSpace" (ngSubmit)="update()">
                    <div class="control">
                        <input type="text" name="title" [(ngModel)]="updateRequest.title" class="input">
                    </div>
                    <div class="control">
                        <button class="button is-info">Confirm</button>
                        <button type="button" class="button is-warning"
                            (click)="isUpdatingSpace = false">Cancel</button>
                    </div>
                </form>
                <p class="subtitle">Lists</p>
                <div>
                    <app-task-list *ngFor="let list of space.lists" [list]="list" />
                    <button class="button is-info" [routerLink]="['/list/add', space.id.toString()]">Add new</button>
                </div>

                <p class="subtitle mt-1">Space documents</p>
                <div>
                    <div class="card m-1" *ngFor="let doc of documents">
                        <div class="card-header">
                            <p class="card-header-title">
                                <a [routerLink]="['/doc', doc.id.toString()]">{{ doc.title }}</a>
                            </p>
                            <p class="card-header-icon">
                                {{ doc.creator.firstName }} {{ doc.creator.lastName }}
                                <button class="delete" (click)="deleteDocument(doc.id)"></button>
                            </p>
                        </div>
                    </div>
                </div>
                <form (ngSubmit)="addDocument()">
                    <div class="control">
                        <input type="text" name="docTitle" class="input" [(ngModel)]="newDocumentTitle">
                        <button class="button is-info">Add new doc</button>
                    </div>
                </form>
            </div>
            <div class="column is-3">
                <p class="title">Owner</p>
                <div class="is-flex">
                    <app-user-profile [id]="space.owner.id" size="128x128" />
                    <div class="ml-5 ">
                        <p class="subtitle">{{ space.owner.firstName }} {{ space.owner.lastName}}</p>
                        <p class="subtitle">{{ space.owner.email }}</p>
                    </div>
                </div>
                <p class="title">Members</p>
                <div>
                    <div>
                        <a class="button" routerLink="add-user">Add member</a>
                        <a class="button" routerLink="permissions">Manage permissions</a>
                    </div>
                    
                    <div class="box" *ngFor="let user of users">
                        <div class="media">
                            <div class="media-left">
                                <app-user-profile [id]="user.id" size="64x64" />
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <div class="is-flex">
                                        <div>
                                            <p>
                                                {{ user.email }}
                                            </p>
                                            <p>
                                                {{ user.firstName}} {{ user.lastName }}
                                            </p>
                                        </div>
                                        <div class="ml-2" *ngIf="user.id == space.owner.id">
                                            <button class="button is-danger" (click)="removeSpaceUser(user)">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a [routerLink]="['/task-status/update', space.statusGroup.id.toString()]" class="title mt-3">Default
                    status group</a>
                <p>{{ space.statusGroup.name }}</p>
                <div>
                    <div class="is-flex is-align-content-center m-1" *ngFor="let status of space.statusGroup.statuses">
                        <div class="task-status-icon m-1" [ngStyle]="{ 'background-color': status.color }"></div>
                        <div class="subtitle m-1">{{ status.name }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>