<aside class="menu ml-2 mt-1">
    <p class="menu-label">
        Navigation
    </p>
    <ul class="menu-list">
        <app-side-bar-link name="Main" link="/" [isActive]="isCurrentRoute('/')"/>
    </ul>
    <p class="menu-label">
        Spaces
    </p>
    <ul class="menu-list">
        <app-side-bar-link name="Add new" link="/space/add" [isActive]="isCurrentRoute('/space/add')"/>
        <app-side-bar-space-link *ngFor="let space of spaces" [space]="space"/>
    </ul>
    <p class="menu-label">
        Account
    </p>
    <ul class="menu-list">
        <app-side-bar-link name="Update Profile" link="/profile/update" [isActive]="isCurrentRoute('/profile/update')"/>
        <app-side-bar-link name="Task statuses" link="/task-status" [isActive]="isCurrentRoute('/task-status')"/>
        <li class="has-text-centered mt-1"><button class="button is-danger" (click)="logout()">Logout</button></li>
    </ul>
</aside>