<div class="card m-1">
    <div class="card-header is-flex is-justify-content-space-between is-align-items-center"
        [ngStyle]="{ 'background-color': list.color ?? ''}">
        <p class="card-header-title">{{ list.title }}</p>
        <button class="card-header-icon" (click)="toggleShowTasks()">
            <span class="icon">
                <fa-icon [icon]="curentIcon"></fa-icon>
            </span>
        </button>
    </div>
</div>

<div *ngIf="showTasks" class="column m-1">
    <table class="table" *ngIf="list.tasks" style="width: 100%;">
        <tbody>
            <tr app-user-task-list-item *ngFor="let task of list.tasks" [task]="task"
                (deleteTask)="deleteTask.emit(task.id)" (updateRequested)="updateTask.emit($event)"
                [statuses]="list.statusGroup?.statuses ?? []"></tr>
        </tbody>


    </table>
    <app-add-task-form *ngIf="this.list.statusGroup?.statuses" [listId]="list.id" (taskAdded)="loadTasks.emit()"
        [statusId]="defaultStatus()!.id">
    </app-add-task-form>
</div>